@page
@model BookListRazor.Pages.BookList.createModel
@{
}
<br />
<h2 class="text-info">Create New Page</h2>
<br />

<div class="border container" style="padding: 30px">
    <form action="/" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="book.Name"></label>
            </div>
            <div class="col-6">
                <input asp-for="book.Name" class="form-control" />
            </div>
            <span asp-validation-for="book.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="book.AuthorName"></label>
            </div>
            <div class="col-6">
                <input asp-for="book.AuthorName" class="form-control" />
            </div>
            <span asp-validation-for="book.AuthorName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="book.ISBN"></label>
            </div>
            <div class="col-6">
                <input asp-for="book.ISBN" class="form-control" />
            </div>
            <span asp-validation-for="book.ISBN" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>