@page
@model BookListRazor.Pages.BookList.IndexModel
@{
}
<br />
<div class="container row">
    <div class="col-10">
        <h2 class="text-info">BookList</h2>
    </div>
    <div class="col-2">
        <a asp-page="Create" href="#" class="btn btn-info form-control">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form action="" method="post">
            @if (Model.books.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="books.FirstOrDefault().Name">

                            </label>
                        </th>
                        <th>
                            
                            <label asp-for="books.FirstOrDefault().AuthorName">
                                
                            </label>
                        </th>
                    </tr>
                    @foreach(var item in Model.books)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.AuthorName)
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm">Delete</button>
                        <a href="btn btn-success btn-sm">Edit</a>
                    </td>
                </tr> 
                    }
                </table>
            }
            else
            {
                <p>No Books Available</p>
            }
        </form>
    </div>
</div>